SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_TABLE=documents
SUPABASE_QUERY_NAME=match_documents

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://my-resource.cognitiveservices.azure.com/
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=
AZURE_OPENAI_API_VERSION=2024-02-15-preview

LOG_LEVEL=INFO
